select, input[type=button] {
    display: block;
}

select, input {
    margin: 10px;
}

select {
    width: 187px;
}

.generate-data {
    float: left;
    margin-top: 50px;
    max-width: 200px;
}

html {
    background-color: #1c2e40bd;
}

body * {
    font-family: 'PT Sans', sans-serif;

}

#shows-genres-select {
    display: none;
}

.container {
    width: 40%;
    height: 50%;
    display: flex;
    margin: 40px auto;
    color: #fff;
    background-color: #394049;
    padding: 19px;
    border-radius: 6px;
    min-height: 316px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 15px 31px 0 rgba(0, 0, 0, 0.19);
}

#movie {
    float: right;
    display: inline-flex;
    margin-left: 80px;
    width: 500px;
}

#movie-inner {
    margin-left: 20px;
}

span {
    margin-left: 17px;
}

img {
    max-height: 285px;
    margin-top: 15px;
}

#loader {
    display: none;
    z-index: 1;
    margin: 130px 0 0 440px;
    border: 6px solid #394049;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 55px;
    height: 55px;
    -webkit-animation: spin 0.7s linear infinite;
    position: fixed;
    animation: spin 0.7s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.btn:hover {
    color: #2e6da4;
    background-color: #f3f3f3;
    border-color: #2e6da4;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 2px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.button-a {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    width: 220px;
}

.radio-div {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    color: #fefe;
    text-align: center;
    margin-top: 10%;
}

.movie-details {
    font-size: 16px;
    color: #cccec2;
}

#welcome-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    width: 50%;
    margin: 0 auto;
}

#movie-overview{
    text-align: justify;
}