<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div class="generate-data">
        <select id="movie-genres-select">
            <option selected>All genres</option>
            {% for genre in movie_genres %}
                <option id="{{ genre.id }}">{{ genre.name }}</option>
            {% endfor %}
        </select>
        <select id="shows-genres-select">
            <option selected>All genres</option>
            {% for genre in tv_show_genres %}
                <option id="{{ genre.id }}">{{ genre.name }}</option>
            {% endfor %}
        </select>
        <input id="movie-cb" class="type-checkbox" type="radio" name="type" checked>Movies
        <input id="show-cb" class="type-checkbox" type="radio" name="type">TV Shows
        <input id="getRandomMovie" type="submit" value="Give me something to watch!">
    </div>
    <div id="loader"></div>
    <div id="movie">
    </div>
</div>
</body>
</html>