<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>
<body>
<h2>What should I watch?</h2>
<div class="container">
    <div class="generate-data">
        <select id="movie-genres-select" class="btn button-a">
            <option value="0" selected>All genres</option>
            {% for genre in movie_genres %}
                <option value="{{ genre.id }}">{{ genre.name }}</option>
            {% endfor %}
        </select>
        <select id="shows-genres-select" class="btn button-a">
            <option value="0" selected>All genres</option>
            {% for genre in tv_show_genres %}
                <option value="{{ genre.id }}">{{ genre.name }}</option>
            {% endfor %}
        </select>
        <div class="radio-div">
            <div class="cb">
                <input id="movie-cb" class="type-checkbox" type="radio" name="type" checked>
                <label for="movie-cb">Movies</label>
            </div>
            <div class="cb">
                <input id="show-cb" class="type-checkbox" type="radio" name="type">
                <label for="show-cb">TV Shows</label>
            </div>
        </div>
        <input id="getRandomMovie" type="submit" class="btn button-a" value="Randomize">
    </div>
    <div id="loader"></div>
    <div id="movie">
        <div id="welcome-text">
            <p>Can't decide? No worries!</p>
        </div>
    </div>
</div>
</body>
</html>